.button {

  &:hover {
    text-decoration: none;
  }

  &--cta {
    margin: 0 8px;
    padding: 9px 23px;
    border: 1px solid transparent;
    background-color: rgb(26, 115, 232);
    border-radius: 4px;
    color: #fff;
    font-weight: 700;

    &:hover {
      color: #fff;
    }
  }

  &--primary {
    margin: 4px;
    padding: 8px 16px;
    border: 1px solid transparent;
    background-color: rgb(248, 249, 256);

    &:hover {
      border: 1px solid rgb(218, 220, 224);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    }
  }
}