.middle {
  flex-grow: 1;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  img {
    margin: 0 auto;
  }

  
  .form-buttons {
    padding: 20px;
    font-family: Roboto, arial, sans-serif;
  }
}

.input {
  max-width: 100%;
  width: 584px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  border-radius: 22px;
  border: 1px solid #dfe1e5;
  margin: 20px;

  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .08);
  }

  input {
    max-width: 100%;
    flex: 1;
    border: 1px transparent;
  }

  .material-icons {
    margin: auto 0;
    padding: 0 8px;
    min-width: 5%;
    color: #9aa0a6;
  }
}